body{
    background-color: #5F4B8BFF;
}


h1{
    color: #E69A8DFF;
    text-align: center;
    font-family: Tahoma, 'Times New Roman', Times, serif;
}

.grid-container {
    display: grid;
    height: fit-content;
    margin-left: 25%;
    width: 50%;
    align-content: start;
    grid-template-columns: repeat(1, auto);
    grid-gap: 5px;
    background-color: #E69A8DFF;
    padding: 10px;
    
  }

.grid-container > button {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
}
#toptext{
    margin-left: 25%;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #E69A8DFF;
}

a{
    text-decoration: none;
    color: #5F4B8BFF;
    font-weight: bold;
    font-family: Tahoma, 'Times New Roman', Times, serif;
}

button{
    background-color: rgb(240, 186, 176);
    border-radius: 4px;

}